<div class="background">
  <img class="basketball" src="http://www.clipartquery.com/images/77/file-basketball-clipart-svg-wikimedia-commons-9qlSsS.png">
  <img class="bowlingball" src="https://gallery.yopriceville.com/var/albums/Free-Clipart-Pictures/Sport-PNG/Black_Bowling_Ball_PNG_Vector_Clipart.png?m=1434276657">
  <app-word-container class="top"></app-word-container>
  <app-word-container class="bottom"></app-word-container>
  <app-word-container class="left"></app-word-container>
  <app-word-container class="right"></app-word-container>
  <div class="aantal"><span>{{aantalGedropt}}</span></div>
</div>
